[push]
	default = simple
[user]
	name = Thiago Perrotta
	email = thiagoperrotta95@gmail.com
[credential]
	helper = store
[alias]
	l = commit -a -m "update"
	p = push
	st = status
[core]
	autocrlf = input
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
