[submodule "grml-zsh-config"]
	path = grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
[submodule "vim"]
	path = vim
	url = https://github.com/thiagowfx/vim
[submodule "emacs"]
	path = emacs
	url = https://github.com/thiagowfx/emacs
[submodule "grml-desktop"]
	path = grml-desktop
	url = https://github.com/grml/grml-desktop
