#!/bin/sh

add() {
  which "$1" &>/dev/null && "$@" &
}

# Compton (desktop composition)
add compton -b

# pulseaudio
add start-pulseaudio-x11

# Redshift
add redshift -l -23:-43

# Network manager.
add nm-applet

# Clipboard manager.
add parcellite

# No touchpad clicking while typing.
add syndaemon -i 1 -t -k -d

# Hide the mouse when idle.
add unclutter
